RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxx
RAZORPAY_KEY_SECRET=replace_me
RAZORPAY_WEBHOOK_SECRET=replace_me
PUBLIC_APP_URL=https://cuetace.fun
QUESTION_BUCKET=YOUR_FIREBASE_PROJECT_ID.appspot.com
QUESTION_BANK_PREFIX=question-bank
MONTHLY_PLAN_AMOUNT_INR=100
FREE_SAMPLE_ATTEMPTS=true
