rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /question-bank/{allPaths=**} {
      allow read, write: if false;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
